@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) 
{ 
    .main-cont {
        width: 100%;
    }

    .change-options {
        width: 8%;
    }

    .text-block-cont {
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .text-block {
        height: 215px;
        width: 85%;
    }

    textarea {
        width: 93%;
    }

    #text-block-left {
        margin-bottom: 5px;
        margin-right: 0;
    }
    
    #text-block-right {
        margin-top: 5px;
        margin-left: 0;
    }
}