.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: #fff;
}

.main-cont {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 62%;
    height: 100%;
    /* border: solid 1px gray; */
}

p {
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #222;
}

.select-cont {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 81px;
}

.language-option {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 48%;
    /* border: solid 1px gray; */
}

.change-options {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4%;
}

.change-button {
    display: block;
    width: 28px;
    height: 22px;
    cursor: pointer;
    background-image: url('../icons/compare_arrows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#left-option {
    margin-left: 2%;
    width: 130px;
}

#right-option {
    margin-right: 2%;
    width: 130px;
}

.text-block-cont {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
}

.text-block {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 265px;
    width: 49%;
    background: #fff;
    border: 2px solid #D6D5D5;
    box-shadow: 0px 0.25px 3px rgba(0, 0, 0, 0.039), 0px 2.75px 9px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 2px 2px 2px 2px;
}

#text-block-left {
    margin-right: 1%;
}

#text-block-right {
    margin-left: 1%;
}

textarea {
    width: 99%;
    height: 85%;
    border-radius: 13px;
    border: none;
    resize: none;
    
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #222222;

    /* background-color: red; */

}

.textarea-icon-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    width: 97%;
    margin-top: 1%;
    /* background-color: green; */
}

.textarea-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#keyboard {
    background-image: url('../icons/keyboard.png');
}

#copy {
    background-image: url('../icons/content_copy.png');
}

textarea:focus {
    outline: 0;
}

