@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

header {
    
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 81px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.039), 0px 0.5px 1.5px rgba(0, 0, 0, 0.19);
}

.main-block {
    z-index: 12;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.half-block {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

#half-left {
    justify-content: flex-end;
}

#half-right {
    justify-content: flex-start;
}

.logo-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 62%;
    height: 100%;
}

.logo-image {
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 6px;
    background-image: url('../../../public/Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin-left: 8px;
}

p {
    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #222;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62%;
    height: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
}

select {
    border: none;
    width: 90%;
    height: 27px;

    font-family: 'Finlandica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #222; 
    border-radius: 15px;
}

select:focus {
    outline: 0;
}

/* Мобильное меню */
.menu-btn {
    display: none;
}

.menu-cont {
    display: none;
}


